# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual env
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Data / cache
data/raw/*
data/cache/*
!data/raw/.gitkeep
!data/cache/.gitkeep
*.sqlite
*.db

# DQ logs (generowane automatycznie)
dq_metrics_history.json

# Env
.env
.env.local

# Notebooks checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Great Expectations
great_expectations/uncommitted/
